@media screen and (max-width:1300px) {
    .main .side_cont .form_login {
        margin-top: 30px;
    }
    .main .side_cont .form_login .btn_wrap {
        margin-top: 20px;
    }
    .main .side_cont .sub_menu {
        margin-top: 30px;
    }
}

@media screen and (max-width:1024px) {
    .container {
        padding-bottom: 134px;
    }
    .main>div {
        display: block;
    }
    .main .side_bg {
        height: auto;
        width: 100%;
        padding-top: 45%;
        background-image: url(../img/assets/bg-top.jpg);
        background-position: top;
    }
    .main {
        height: auto;
    }
    .main .side_cont {
        width: 100%;
        height: auto;
        padding: 80px 0;
        box-sizing: border-box;
    }
    .main .side_cont h1 {
        font-size: 23px;
    }
    .main .side_cont h1 i {
        background-image: url(../img/assets/logo-m.png);
        width: 255px;
        height: 47px;
    }
    .main .side_cont .form_login {
        margin-top: 60px;
    }
    .form_login {
        width: 100%;
        max-width: 400px;
        padding: 0 20px;
        box-sizing: border-box;
    }
    .main .side_cont .form_login .option {
        width: 100%;
    }
    .form_login .checkbox input + label {
        font-size: 10px;
    }
    .main .side_cont .form_login .option a {
        font-size: 10px;
    }
    .main .side_cont .sub_menu {
        width: 100%;
        max-width: 480px;
        margin: 40px auto 0;
    }
    .main .side_cont .sub_menu button {
        font-size: 14px;
        width: 115px;
    }
    .main .side_cont .sub_menu button i {
        width: 80px;
        height: 80px;
        background-size: 80px auto;
    }
    .main .side_cont .sub_menu button.manual i{
        background-image: url(../img/mobile/btn-manual.png);
    }
    
    .main .side_cont .sub_menu button.cert i{
        background-image: url(../img/mobile/btn-cert.png);
    }
    
    .main .side_cont .sub_menu button.qna i{
        background-image: url(../img/mobile/btn-qna.png);
    }
    
    .main .side_cont .sub_menu button.help i{
        background-image: url(../img/mobile/btn-join.png);
    }
}

@media screen and (max-width:700px) {
    .container {
        padding-bottom: 194px;
    }
    #footer p {
        text-align: left;
    }
    #footer p span {
        display: inline;
    }
    .main .side_cont {
        padding: 40px 0;
    }
    .main .side_cont .sub_menu {
        width: 230px;
        display: block;
    }
    .main .side_cont .sub_menu button {
        display: inline-block;
    }
    .main .side_cont .sub_menu button:nth-child(n+3) {
        margin-top: 25px;
    }
}